@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #d1d1d1;
}
.container{
    width: 90%;
    margin: auto;
}
.home{
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;
    text-decoration: none;
}
.home img{
    height: 100%;
}
.home p{
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.logo-container{
    margin: auto;
    height: 130px;
    width: 260px;
}
.image{
    height: 100%;
    width: 100%;
}
.content-input{
    margin: 10px auto;
    height: 30px;
    width: 350px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.button-left{
    font-size: 50px;
    cursor: pointer;
}
.button-rigth{
    font-size: 50px;
    margin-left: 10px;
    cursor: pointer;
}
.content-load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-load{
    width: 90%;
    height: 90%;
}
.content-found{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.content-found img{
    border-radius: 8%;
    width: 100%;
}
.search{
    user-select: none;
    outline: none;
    border: none;
    padding: 6px;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%)
}
.container-pokemon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.card{
    display: flex;
    width: 350px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    transition: all .2s ease-in-out;
    background-color: #fff;
}
.card:hover{
    transform: scale(1.05);
}
.image-pokemon{
    display: flex;
    align-items: center;
}
.image-pokemon img{
    width: 135px;
    height: 135px;
    user-select: none;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 0 10px;
    flex: 1 1;
}
.card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-top h3{
    text-transform: capitalize;
}
.id{
    font-size: 24px;
    padding-left: 10px;
}
.card-bottom{
    display: flex;
    /*justify-content: space-between*/;
}
.type{
    display: flex;
}
.image-type{
    padding: 4px;
    width: 75px;
    height: 75px;
}
.image-type img{
    height: 85%;
    width: 85%;
}